@model BondleApplication.Models.DigitalProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DigitalProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="FileFormat" class="control-label"></label>
                <input asp-for="FileFormat" class="form-control" />
                <span asp-validation-for="FileFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileSize" class="control-label"></label>
                <input asp-for="FileSize" class="form-control" />
                <span asp-validation-for="FileSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviewImagePath" class="control-label"></label>
                <input asp-for="PreviewImagePath" class="form-control" />
                <span asp-validation-for="PreviewImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownloadLimit" class="control-label"></label>
                <input asp-for="DownloadLimit" class="form-control" />
                <span asp-validation-for="DownloadLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityDays" class="control-label"></label>
                <input asp-for="ValidityDays" class="form-control" />
                <span asp-validation-for="ValidityDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseType" class="control-label"></label>
                <input asp-for="LicenseType" class="form-control" />
                <span asp-validation-for="LicenseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseDescription" class="control-label"></label>
                <input asp-for="LicenseDescription" class="form-control" />
                <span asp-validation-for="LicenseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

