@model BondleApplication.Models.PhysicalProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PhysicalProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDays" class="control-label"></label>
                <input asp-for="DeliveryDays" class="form-control" />
                <span asp-validation-for="DeliveryDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingFeeType" class="control-label"></label>
                <input asp-for="ShippingFeeType" class="form-control" />
                <span asp-validation-for="ShippingFeeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedShippingFee" class="control-label"></label>
                <input asp-for="FixedShippingFee" class="form-control" />
                <span asp-validation-for="FixedShippingFee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFragile" /> @Html.DisplayNameFor(model => model.IsFragile)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PackagingNote" class="control-label"></label>
                <input asp-for="PackagingNote" class="form-control" />
                <span asp-validation-for="PackagingNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

