@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model BondleApplication.Models.ViewModel.ProductViewModel

<div class="product-image">
    <img src="@Model.ImageUrl"  class="img-fluid" />
</div>

