@using BondleApplication.Models.ViewModel
@model DigitalProductCreateVM

<h4>數位商品資訊</h4>
<div class="form-group">
    <label asp-for="UploadFile"></label>
    <input asp-for="UploadFile" type="file" class="form-control" />
    <span asp-validation-for="UploadFile" class="text-danger"></span>
</div>
<!-- 其他數位商品欄位依原本內容補齊 -->