@using BondleApplication.Models.ViewModel
@model PhysicalProductCreateVM

<h4>實體商品資訊</h4>
<div class="form-group">
    <label asp-for="Weight"></label>
    <input asp-for="Weight" class="form-control" />
</div>
<!-- 其他實體商品欄位依原本內容補齊 -->