USE [master]
GO
/****** Object:  Database [BondleDB]    Script Date: 2025/9/21 下午 02:21:43 ******/
CREATE DATABASE [BondleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BondleDB', FILENAME = N'D:\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\BondleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BondleDB_log', FILENAME = N'D:\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\BondleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BondleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BondleDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [nchar](8) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IconUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creator]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creator](
	[CreatorID] [nchar](8) NOT NULL,
	[CreatorName] [nvarchar](50) NOT NULL,
	[Biography] [ntext] NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[CoverUrl] [nvarchar](500) NULL,
	[VerificationStatus] [tinyint] NULL,
	[BankAccount] [nvarchar](50) NULL,
	[BankCode] [nvarchar](10) NULL,
	[AccountHolderName] [nvarchar](50) NULL,
	[ECPayMerchantID] [nvarchar](20) NULL,
	[ECPayStatus] [tinyint] NULL,
	[PlatformFeeRate] [decimal](5, 3) NOT NULL,
	[ApplyDate] [datetime] NOT NULL,
	[VerificationDate] [datetime] NULL,
	[Status] [tinyint] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[MemberID] [nchar](36) NOT NULL,
 CONSTRAINT [PK_Creator] PRIMARY KEY CLUSTERED 
(
	[CreatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Creator_Member] UNIQUE NONCLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitalDownload]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitalDownload](
	[DownloadID] [nchar](8) NOT NULL,
	[DownloadCount] [int] NOT NULL,
	[DownloadLimit] [int] NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[LastDLDate] [datetime] NULL,
	[OrderID] [nchar](13) NOT NULL,
 CONSTRAINT [PK_DigitalDownload] PRIMARY KEY CLUSTERED 
(
	[DownloadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitalProduct]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitalProduct](
	[ProductID] [nchar](8) NOT NULL,
	[FileFormat] [nvarchar](50) NOT NULL,
	[FileSize] [bigint] NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[PreviewImagePath] [nvarchar](500) NULL,
	[DownloadLimit] [int] NOT NULL,
	[ValidityDays] [int] NULL,
	[LicenseType] [tinyint] NULL,
	[LicenseDescription] [ntext] NULL,
 CONSTRAINT [PK_DigitalProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ECPayTransactions]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECPayTransactions](
	[TransactionID] [nchar](15) NOT NULL,
	[ECPayMerchantID] [nvarchar](20) NULL,
	[ECPayTradeNo] [nvarchar](20) NULL,
	[ECPayPaymentType] [nvarchar](20) NULL,
	[TradeAmount] [money] NOT NULL,
	[PaymentStatus] [tinyint] NOT NULL,
	[TradeDate] [datetime] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[CVSPaymentNo] [nvarchar](20) NULL,
	[CVSValidationNo] [nvarchar](10) NULL,
	[ExpireDate] [datetime] NULL,
	[ECPayReturnData] [ntext] NULL,
	[CheckMacValue] [nvarchar](100) NULL,
	[OrderID] [nchar](13) NOT NULL,
	[AddressID] [nchar](8) NULL,
 CONSTRAINT [PK_ECPayTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[FavoriteID] [nchar](8) NOT NULL,
	[ProductID] [nchar](8) NULL,
	[SeriesID] [nchar](8) NULL,
	[FavoriteType] [tinyint] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[SupporterID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [nchar](36) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](512) NOT NULL,
	[GoogleUserID] [nvarchar](100) NULL,
	[Name] [nvarchar](50) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Member_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [nchar](13) NOT NULL,
	[TotalAmount] [money] NOT NULL,
	[PaymentStatus] [tinyint] NOT NULL,
	[OrderStatus] [tinyint] NOT NULL,
	[ECPayMerchantID] [nvarchar](20) NULL,
	[RecipientName] [nvarchar](50) NULL,
	[RecipientPhone] [nvarchar](20) NULL,
	[ShippingAddress] [nvarchar](300) NULL,
	[CreateDate] [datetime] NULL,
	[PaidDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[SupporterID] [nchar](8) NOT NULL,
	[CreatorID] [nchar](8) NOT NULL,
	[AddressID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [nchar](13) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[VariationName] [nvarchar](100) NOT NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SubTotal] [money] NOT NULL,
	[ProductType] [tinyint] NOT NULL,
	[ShippingFee] [money] NULL,
	[PlatformFee] [money] NULL,
	[CreatorAmount] [money] NULL,
	[PaymentMethod] [tinyint] NOT NULL,
	[ProductID] [nchar](8) NOT NULL,
	[VariationID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC,
	[VariationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicalProduct]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicalProduct](
	[ProductID] [nchar](8) NOT NULL,
	[Weight] [decimal](8, 3) NULL,
	[Length] [decimal](8, 2) NULL,
	[Width] [decimal](8, 2) NULL,
	[Height] [decimal](8, 2) NULL,
	[DeliveryDays] [int] NOT NULL,
	[ShippingFeeType] [tinyint] NOT NULL,
	[FixedShippingFee] [money] NULL,
	[IsFragile] [bit] NOT NULL,
	[PackagingNote] [nvarchar](200) NULL,
 CONSTRAINT [PK_PhysicalProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [nchar](8) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [ntext] NULL,
	[ProductType] [tinyint] NOT NULL,
	[CategoryID] [nchar](8) NULL,
	[SeriesID] [nchar](8) NULL,
	[Price] [money] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[LaunchDate] [datetime] NULL,
	[OfflineDate] [datetime] NULL,
	[SortOrder] [int] NOT NULL,
	[PurchaseCount] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[CreatorID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [nchar](8) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[ImageCaption] [nvarchar](100) NULL,
	[FileSize] [bigint] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[VariationID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSeries]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSeries](
	[SeriesID] [nchar](8) NOT NULL,
	[SeriesName] [nvarchar](80) NOT NULL,
	[Description] [ntext] NULL,
	[CoverImageUrl] [nvarchar](500) NULL,
	[Tags] [nvarchar](200) NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[CreatorID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_ProductSeries] PRIMARY KEY CLUSTERED 
(
	[SeriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariations]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariations](
	[VariationID] [nchar](8) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[VariationName] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](30) NULL,
	[Size] [nvarchar](20) NULL,
	[Material] [nvarchar](30) NULL,
	[Edition] [nvarchar](20) NULL,
	[PriceDifference] [money] NULL,
	[Stock] [int] NOT NULL,
	[SafetyStock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[ProductID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_ProductVariations] PRIMARY KEY CLUSTERED 
(
	[VariationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductVariations_SKU] UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingAddress]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingAddress](
	[AddressID] [nchar](8) NOT NULL,
	[AddressType] [tinyint] NOT NULL,
	[RecipientName] [nvarchar](50) NOT NULL,
	[RecipientPhone] [nvarchar](20) NOT NULL,
	[ConvenienceStoreType] [nvarchar](20) NULL,
	[StoreCode] [nvarchar](20) NULL,
	[StoreName] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[City] [nvarchar](20) NULL,
	[District] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[IsDefault] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[SupporterID] [nchar](8) NOT NULL,
 CONSTRAINT [PK_ShippingAddress] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supporter]    Script Date: 2025/9/21 下午 02:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supporter](
	[SupporterID] [nchar](8) NOT NULL,
	[SupporterName] [nvarchar](50) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[CreateDate] [datetime] NOT NULL,
	[MemberID] [nchar](36) NOT NULL,
 CONSTRAINT [PK_Supporter] PRIMARY KEY CLUSTERED 
(
	[SupporterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Supporter_Member] UNIQUE NONCLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Creator] ADD  DEFAULT ((5.000)) FOR [PlatformFeeRate]
GO
ALTER TABLE [dbo].[Creator] ADD  DEFAULT (getdate()) FOR [ApplyDate]
GO
ALTER TABLE [dbo].[Creator] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Creator] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Creator] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[DigitalDownload] ADD  DEFAULT ((0)) FOR [DownloadCount]
GO
ALTER TABLE [dbo].[DigitalDownload] ADD  DEFAULT ((3)) FOR [DownloadLimit]
GO
ALTER TABLE [dbo].[DigitalProduct] ADD  DEFAULT ((3)) FOR [DownloadLimit]
GO
ALTER TABLE [dbo].[ECPayTransactions] ADD  DEFAULT ((1)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[ECPayTransactions] ADD  DEFAULT (getdate()) FOR [TradeDate]
GO
ALTER TABLE [dbo].[Favorite] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [LastLoginDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PhysicalProduct] ADD  DEFAULT ((3)) FOR [DeliveryDays]
GO
ALTER TABLE [dbo].[PhysicalProduct] ADD  DEFAULT ((1)) FOR [ShippingFeeType]
GO
ALTER TABLE [dbo].[PhysicalProduct] ADD  DEFAULT ((0)) FOR [IsFragile]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [PurchaseCount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductSeries] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductSeries] ADD  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[ProductSeries] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductVariations] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ProductVariations] ADD  DEFAULT ((0)) FOR [SafetyStock]
GO
ALTER TABLE [dbo].[ProductVariations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariations] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductVariations] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ProductVariations] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductVariations] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ShippingAddress] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ShippingAddress] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ShippingAddress] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Supporter] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Creator]  WITH CHECK ADD  CONSTRAINT [FK_Creator_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Creator] CHECK CONSTRAINT [FK_Creator_Member]
GO
ALTER TABLE [dbo].[DigitalDownload]  WITH CHECK ADD  CONSTRAINT [FK_DigitalDownload_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[DigitalDownload] CHECK CONSTRAINT [FK_DigitalDownload_Order]
GO
ALTER TABLE [dbo].[DigitalProduct]  WITH CHECK ADD  CONSTRAINT [FK_DigitalProduct_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[DigitalProduct] CHECK CONSTRAINT [FK_DigitalProduct_Product]
GO
ALTER TABLE [dbo].[ECPayTransactions]  WITH CHECK ADD  CONSTRAINT [FK_ECPayTransactions_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[ECPayTransactions] CHECK CONSTRAINT [FK_ECPayTransactions_Order]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Product]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Series] FOREIGN KEY([SeriesID])
REFERENCES [dbo].[ProductSeries] ([SeriesID])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Series]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Supporter] FOREIGN KEY([SupporterID])
REFERENCES [dbo].[Supporter] ([SupporterID])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Supporter]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[ShippingAddress] ([AddressID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Creator] FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Creator] ([CreatorID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Creator]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Supporter] FOREIGN KEY([SupporterID])
REFERENCES [dbo].[Supporter] ([SupporterID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Supporter]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Variation] FOREIGN KEY([VariationID])
REFERENCES [dbo].[ProductVariations] ([VariationID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Variation]
GO
ALTER TABLE [dbo].[PhysicalProduct]  WITH CHECK ADD  CONSTRAINT [FK_PhysicalProduct_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[PhysicalProduct] CHECK CONSTRAINT [FK_PhysicalProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Creator] FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Creator] ([CreatorID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Creator]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Series] FOREIGN KEY([SeriesID])
REFERENCES [dbo].[ProductSeries] ([SeriesID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Series]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Variation] FOREIGN KEY([VariationID])
REFERENCES [dbo].[ProductVariations] ([VariationID])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Variation]
GO
ALTER TABLE [dbo].[ProductSeries]  WITH CHECK ADD  CONSTRAINT [FK_ProductSeries_Creator] FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Creator] ([CreatorID])
GO
ALTER TABLE [dbo].[ProductSeries] CHECK CONSTRAINT [FK_ProductSeries_Creator]
GO
ALTER TABLE [dbo].[ProductVariations]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariations_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductVariations] CHECK CONSTRAINT [FK_ProductVariations_Product]
GO
ALTER TABLE [dbo].[ShippingAddress]  WITH CHECK ADD  CONSTRAINT [FK_ShippingAddress_Supporter] FOREIGN KEY([SupporterID])
REFERENCES [dbo].[Supporter] ([SupporterID])
GO
ALTER TABLE [dbo].[ShippingAddress] CHECK CONSTRAINT [FK_ShippingAddress_Supporter]
GO
ALTER TABLE [dbo].[Supporter]  WITH CHECK ADD  CONSTRAINT [FK_Supporter_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Supporter] CHECK CONSTRAINT [FK_Supporter_Member]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Product_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Product_Price]
GO
USE [master]
GO
