
@model BondleApplication.Models.DigitalProduct

<form id="digitalProductForm" data-product-id="@Model.ProductID">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="ProductID" type="hidden" />
    <input asp-for="ProductID" type="hidden" />

    <div class="card">
        <div class="card-header">
            <h5>數位商品設定</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="FilePath" class="form-label"></label>
                        <input asp-for="FilePath" class="form-control" />
                        <span asp-validation-for="FilePath" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="FileSize" class="form-label"></label>
                        <input asp-for="FileSize" class="form-control" type="number" />
                        <span asp-validation-for="FileSize" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="FileFormat" class="form-label"></label>
                        <input asp-for="FileFormat" class="form-control" />
                        <span asp-validation-for="FileFormat" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="LicenseType" class="form-label"></label>
                        <select asp-for="LicenseType" class="form-select">
                            <option value="">請選擇授權類型</option>
                            <option value="Single">單一使用者</option>
                            <option value="Multiple">多使用者</option>
                            <option value="Commercial">商業授權</option>
                        </select>
                        <span asp-validation-for="LicenseType" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="LicenseDescription" class="form-label"></label>
                <textarea asp-for="LicenseDescription" class="form-control" rows="3"></textarea>
                <span asp-validation-for="LicenseDescription" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">儲存數位商品資料</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#digitalProductForm').on('submit', function(e) {
            e.preventDefault();

            const url = '@Model.ProductID' > 0 ? '/DigitalProduct/Update' : '/DigitalProduct/Create';

            $.post(url, $(this).serialize())
            .done(function(data) {
                if (data.success) {
                    toastr.success(data.message);
                } else {
                    toastr.error(data.errors ? data.errors.join('<br>') : '儲存失敗');
                }
            })
            .fail(function() {
                toastr.error('發生錯誤，請稍後再試');
            });
        });
    });
</script>

